# Process Zooniverse classification and subject data into a CSV

This Notebook is designed to read the classifications and subject files, which you will have exported from Zooniverse. After it reads the files, the notebook will perform the following tasks:

1. It combines the information from:  
    (a) the **classifications** file, which contains all the annotations users have provided for a given workflow's subjects, with  
    (b) the information from the **subjects** file, which documents the information about the subjects (items) annotated in specific tasks.

2. It processes the columns that contain information in JSON format and transforms them (and the rest of the data) into spreadsheet columns for ease of use. 

3. It removes any Personally Identifiable Information, such as usernames and IP addresses.

4. It produces a .csv file that can be opened in any spreadsheet tool (Microsoft Excel, Apple Numbers, etc.) for further processing.

## Getting set up

In the next cell, you will specify where the data that you want to process is located. These should be two paths on your drive, which can be _relative_ (to where this notebook is located) or _absolute_ (a specified full path to each file).

#### Example 1: Sample data

If you do not have any downloaded data, but want to use the sample data that we have provided (located in the same folder as this notebook), you should put these two _relative_ paths in the next cell:

```py
classifications_file = "sample_data/test_classifications.csv"
subjects_file = "sample_data/test_subjects.csv"
```

Pandas is a very flexible Python package, which can also accept valid URLs, so you could also write:

```py
classifications_file = "https://raw.githubusercontent.com/Living-with-machines/zooniverse-analysis-workshop/main/sample_data/test_classifications.csv"
subjects_file = "https://raw.githubusercontent.com/Living-with-machines/zooniverse-analysis-workshop/main/sample_data/test_subjects.csv"
```

#### Example 2: Downloaded data in Downloads folder

If you have downloaded the files as `classifications.csv` and `subjects.csv` on a Mac and they are located in your `Downloads` folder, in the next cell you would put two _absolute_ paths:

```py
classifications_file = "/Users/<your-username>/Downloads/classifications.csv"
subjects_file = "/Users/<your-username>/Downloads/subjects.csv"
```


#### Example 3: Data in your Google Drive

```py
# Code originally from https://github.com/kingsdigitallab/lwm-davizct
# Update the paths to match the location of files on your Google Drive
# Running this code will trigger a dialogue to allow access to your Google Drive
ipython = get_ipython()
IN_COLAB = "google.colab" in str(ipython)

if IN_COLAB:
    from google.colab import drive

    drive.mount("/content/drive")
    data_path = "drive/My Drive/Zooniverse_exports"
    sources_path = "drive/My Drive/Zooniverse_exports" # not needed in this notebook?
    subjects_path = "drive/My Drive/Zooniverse_exports" # not needed in this notebook?

```

## Now it is your turn!

**Fill in the file locations in this cell:**

In [435]:
classifications_file = "./sample_data/test_classifications.csv"
subjects_file = "./sample_data/test_subjects.csv"

---

## Setting up our definitions

**Now, we are ready to get started working with our data.**

First, we need to import the packages that we are going to use in the script below. Most of them are built-in to Python.

In [436]:
from collections import ChainMap
import hashlib
import json

import pandas as pd

## Read in our main data

Next, it's time to read in the main CSV data as a pandas DataFrame, using the handy method `.read_csv()`.

In [437]:
df = pd.read_csv(classifications_file)

Pandas has a handy method to look at the data that we have just imported, called `.head(num)`, where `num` should be replaced with the amount of rows in the frame that you want to see.

We run it below to see what our imported data looks like unprocessed:

In [438]:
df.head(3)

,classification_id,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
0,123456789,BLDigital,1744856,59da0b506645913c2a7c,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""5ae397cb5b23d52e566...","[{""task"":""T0"",""task_label"":""Does this article ...","{""36628096"":{""retired"":null,"""":""246"",""!myid"":""...",36813687
1,234567891,BLDigital,1744856,59da0b506645913c2a7c,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""5ae397cb5b23d52e566...","[{""task"":""T0"",""task_label"":""Does this article ...","{""36628096"":{""retired"":null,"""":""246"",""!myid"":""...",36628096
2,345678912,BLDigital,1744856,59da0b506645913c2a7c,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""5ae397cb5b23d52e566...","[{""task"":""T0"",""task_label"":""Does this article ...","{""36628096"":{""retired"":null,"""":""246"",""!myid"":""...",36627634

As we can see in our preview, the `classification_id` is a column, which is unique for each classification. It can thus be used as an "index" for the DataFrame, a nice way of querying the frame by individual IDs.

Here's how we can set the index on our `df`:

In [439]:
df.set_index("classification_id", inplace=True)

Because Python and Pandas are both "succeeding silently", it can be good to sometimes have what we call a "reality check" to ensure that we have the result that we want.

In [440]:
df.head(3)

,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
classification_id,,,,,,,,,,,,,
123456789,BLDigital,1744856,59da0b506645913c2a7c,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""5ae397cb5b23d52e566...","[{""task"":""T0"",""task_label"":""Does this article ...","{""36628096"":{""retired"":null,"""":""246"",""!myid"":""...",36813687
234567891,BLDigital,1744856,59da0b506645913c2a7c,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""5ae397cb5b23d52e566...","[{""task"":""T0"",""task_label"":""Does this article ...","{""36628096"":{""retired"":null,"""":""246"",""!myid"":""...",36628096
345678912,BLDigital,1744856,59da0b506645913c2a7c,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,"{""source"":""api"",""session"":""5ae397cb5b23d52e566...","[{""task"":""T0"",""task_label"":""Does this article ...","{""36628096"":{""retired"":null,"""":""246"",""!myid"":""...",36627634

## Ensure correct encoding

Next, we will want to have a look at the encoding of each column.

In the "reality check" above, you can see that the columns `subject_data`, `annotations`, and `metadata` are structured as JSON (JavaScript Object Notation), which the DataFrame parser cannot interpret on its own, which is why we have to help it using the following parsing of those specific columns.

If you use Pandas' `.apply()` method (which can be applied on a column or on the entire DataFrame), you can help the software interpret the data in the columns. Here, we pass a function (`json.loads`, i.e. the `loads` function from Python's built-in `json` package) to each of the columns containing JSON data.

In [441]:
df["metadata"] = df["metadata"].apply(json.loads)
df["annotations"] = df["annotations"].apply(json.loads)

Again, we might want to do a "reality check". To look at a specific part of a dataframe we can "slice it" by passing it a list (note the double `[[` and `]]` on each side of the selector) of the columns we want to look at:

In [442]:
df[["annotations", "metadata"]]

,annotations,metadata
classification_id,,
123456789,"[{'task': 'T0', 'task_label': 'Does this artic...","{'source': 'api', 'session': '5ae397cb5b23d52e..."
234567891,"[{'task': 'T0', 'task_label': 'Does this artic...","{'source': 'api', 'session': '5ae397cb5b23d52e..."
345678912,"[{'task': 'T0', 'task_label': 'Does this artic...","{'source': 'api', 'session': '5ae397cb5b23d52e..."
456789123,"[{'task': 'T0', 'task_label': 'Does this artic...","{'source': 'api', 'session': '5ae397cb5b23d52e..."

Looks good!

In the following two sections, we will process the `metadata`, and `annotations` column respectively.

## Extract classification metadata (`metadata`)

Next, we want to do something similar to what we did with the subjects above to process the metadata for each classification.

Because the data in the `metadata` column has nested JSON data (that is, objects and lists that are wrapped inside each other), we want to use the particular `json_normalize` method.

Here's an example of what one `metadata` row looks like:

In [443]:
df.metadata[df.metadata.head(1).index[0]]

{'source': 'api',
 'session': '5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc21a5dc0670947b71eb2',
 'viewport': {'width': 1366, 'height': 654},
 'started_at': '2019-09-12T14:14:36.447Z',
 'user_agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69.0) Gecko/20100101 Firefox/69.0',
 'utc_offset': '-3600',
 'finished_at': '2019-09-12T14:14:53.177Z',
 'live_project': False,
 'interventions': {'opt_in': True, 'messageShown': False},
 'user_language': 'en',
 'user_group_ids': [],
 'subject_dimensions': [{'clientWidth': 634,
   'clientHeight': 72,
   'naturalWidth': 634,
   'naturalHeight': 72}],
 'subject_selection_state': {'retired': False,
  'selected_at': '2019-09-12T14:14:36.224Z',
  'already_seen': False,
  'selection_state': 'normal',
  'finished_workflow': False,
  'user_has_finished_workflow': False},
 'workflow_translation_id': '24214'}

Now, let's create a separate DataFrame from the normalised JSON data in the columns using the json_normalize method and use `.head()` to see the result:

In [444]:
df_metadata = pd.json_normalize(df["metadata"])

df_metadata.head(3)

,source,session,started_at,user_agent,utc_offset,finished_at,live_project,user_language,user_group_ids,subject_dimensions,workflow_translation_id,viewport.width,viewport.height,interventions.opt_in,interventions.messageShown,subject_selection_state.retired,subject_selection_state.selected_at,subject_selection_state.already_seen,subject_selection_state.selection_state,subject_selection_state.finished_workflow,subject_selection_state.user_has_finished_workflow
0,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False
1,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False
2,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False

Since we know that the shape of the classification metadata DataFrame (`df_metadata`) and the main classification DataFrame (`df`) are the same, we can apply the `set_index` method to the metadata to get the `classification_id` as index on the `df_metadata`:

In [445]:
df_metadata.set_index(df.index, inplace=True)

Reality check time again — good practice, keep track of what you're doing:

In [446]:
df_metadata.head(3)

,source,session,started_at,user_agent,utc_offset,finished_at,live_project,user_language,user_group_ids,subject_dimensions,workflow_translation_id,viewport.width,viewport.height,interventions.opt_in,interventions.messageShown,subject_selection_state.retired,subject_selection_state.selected_at,subject_selection_state.already_seen,subject_selection_state.selection_state,subject_selection_state.finished_workflow,subject_selection_state.user_has_finished_workflow
classification_id,,,,,,,,,,,,,,,,,,,,,
123456789,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False
234567891,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False
345678912,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False

## Extract annotations (`annotations`)

The final information we want to extract and process from the main DataFrame are the annotations for each classification.

In order to do so, we must first preprocess the JSON data that we have available, extracting a list of only the information we want (the "annotation values"). We set up a function that processes each individual row, and then apply it to each row, using the `.apply` method, which we have used before:

In [447]:
def extract_annotation_values(annotation_row):
    """
    Takes an annotation row, which contains a list of tasks with values in dictionary {task, task_label, value}
    and extracts the `task_label` and `value` for each `task` and returns them as a dictionary,
    for easy insertion into a DataFrame.
    """
    
    extracted_dictionaries = [{task_data.get('task'): [task_data.get('task_label'), task_data.get('value')]} for task_data in annotation_row]
    return dict(ChainMap(*extracted_dictionaries))

df["annotations"] = df["annotations"].apply(extract_annotation_values)

Then, similarly to section 4 above, we loop through each row (of JSON data - contained in `json_data`) and extract the classification_id and annotations for each of them, which we then add on our new DataFrame `df_annotations`:

In [448]:
df_annotations = pd.DataFrame()

for index, row in df.iterrows():
    s = pd.Series(row.annotations, name=index)
    df_annotations = pd.concat([df_annotations, s], axis=1)
    
df_annotations = df_annotations.T

Finally, we can use the `.head()` method again to check our results:

In [449]:
df_annotations.head(3)

,T1,T0
123456789,[Draw around the names of any people involved ...,[Does this article mention a specific industri...
234567891,[Draw around the names of any people involved ...,[Does this article mention a specific industri...
345678912,[Draw around the names of any people involved ...,[Does this article mention a specific industri...

## Extract Zooniverse subjects (`subject_data`)

Next, we want to read in the `subjects.csv` file above, so we know what files each of the classifications were done on.

In [450]:
df_subjects = pd.read_csv(subjects_file)

Let's have a quick look at our data using the `.head()` method that we learned above:

In [451]:
df_subjects.head(3)

,subject_id,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at
0,36627626,9943,12038,77830,"{"""":""0"",""!myid"":""00000000000000000000"",""!image...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2019-09-11 13:09:40 UTC,2019-09-11 13:09:40 UTC
1,36627627,9943,12038,77830,"{"""":""1"",""!myid"":""00000000000000000001"",""!image...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2019-09-11 13:09:40 UTC,2019-09-11 13:09:40 UTC
2,36627628,9943,12038,77830,"{"""":""2"",""!myid"":""00000000000000000002"",""!image...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2019-09-11 13:09:40 UTC,2019-09-11 13:09:40 UTC

As with the classifications, we can see from this preview that the `subject_id` is a column, which is unique for each subject. Similarly to what we did with the classifications above, we can turn it into an "index" for the DataFrame, a nice way of querying the frame by individual IDs. Again, here's how we'd do it:

In [452]:
df_subjects.set_index("subject_id", inplace=True)

Now, let's see what happened:

In [453]:
df_subjects.head(3)

,project_id,workflow_id,subject_set_id,metadata,locations,classifications_count,retired_at,retirement_reason,created_at,updated_at
subject_id,,,,,,,,,,
36627626,9943,12038,77830,"{"""":""0"",""!myid"":""00000000000000000000"",""!image...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2019-09-11 13:09:40 UTC,2019-09-11 13:09:40 UTC
36627627,9943,12038,77830,"{"""":""1"",""!myid"":""00000000000000000001"",""!image...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2019-09-11 13:09:40 UTC,2019-09-11 13:09:40 UTC
36627628,9943,12038,77830,"{"""":""2"",""!myid"":""00000000000000000002"",""!image...","{""0"":""https://panoptes-uploads.zooniverse.org/...",0,NaN,NaN,2019-09-11 13:09:40 UTC,2019-09-11 13:09:40 UTC

As we can see from the preview, there are some quirky aspects of the `subjects.csv` file from Zooniverse. Two things we might want to address here is that the `metadata` column is formatted as embedded JSON data, and so is the `locations` column.

The `metadata` column corresponds to the data from any manifest file that you uploaded with your subject sets, so it often contains valuable information for us to have with our classifications.

The `locations` column contains the URL to all of the images that each subject links to. For our projects, we might just have one location, but not necessarily: subjects can contain multiple images!

For our purposes, we want to create a more readable list of locations and extract the metadata into its own columns. Let's go ahead and do that now.

We will start by making sure that both columns are formatted correctly, as we did with the classifications' metadata and annotations above:

In [454]:
df_subjects["metadata"] = df_subjects["metadata"].apply(json.loads)
df_subjects["locations"] = df_subjects["locations"].apply(json.loads)

We will start with the `locations` column. Since the data is structured as a Python dictionary `{id: "URL"}`, we can get a list of all the URLs by using Python's `dict` type's built-in `.values()` method. Here, we put that method into a custom function, which takes any row from the `subjects` DataFrame, makes a list from its values, and then joins them together with a comma separation (see the `", ".join()` syntax):

In [455]:
def locations_as_list(row):
    return ", ".join(list(row.values()))

df_subjects["locations_list"] = df_subjects["locations"].apply(locations_as_list)

Now, to save some space, we can remove the old `locations` columns:

In [456]:
df_subjects = df_subjects.drop(["locations"], axis="columns")

Next, we will turn to the subjects' `metadata` column.

Similarly to the extraction of classifications metadata above, we will create a separate DataFrame from the normalised JSON data from the subjects column using the `json_normalize` method and then use `.head()` to see the result:

In [457]:
df_subjects_metadata = pd.json_normalize(df_subjects["metadata"])

df_subjects_metadata.head(3)

,,!myid,!image,!origin,attribution,newspaper date,newspaper place,newspaper title
0,0,00000000000000000000,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-03-19,"Hull, Humberside, England",The Hull Packet.
1,1,00000000000000000001,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-03-19,"Hull, Humberside, England",The Hull Packet.
2,2,00000000000000000002,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-03-19,"Hull, Humberside, England",The Hull Packet.

Again, since we know that the shape of the subjects' metadata DataFrame (`df_subjects_metadata`) and the main subject DataFrame (`df_subject`) are the same, we can apply the `set_index` method to the metadata to get the `subject_id` as index on the `df_subjects_metadata`.

After, we'll run the `.head()` reality check, to make sure all is well:

In [458]:
df_subjects_metadata.set_index(df_subjects.index, inplace=True)

df_subjects_metadata.head(3)

,,!myid,!image,!origin,attribution,newspaper date,newspaper place,newspaper title
subject_id,,,,,,,,
36627626,0,00000000000000000000,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-03-19,"Hull, Humberside, England",The Hull Packet.
36627627,1,00000000000000000001,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-03-19,"Hull, Humberside, England",The Hull Packet.
36627628,2,00000000000000000002,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-03-19,"Hull, Humberside, England",The Hull Packet.

Since we've now extracted the `metadata` column into a separate DataFrame, let's go ahead and remove the column from the original or "main" `df_subjects` DataFrame:

In [459]:
df_subjects = df_subjects.drop("metadata", axis="columns")

A really great feature of DataFrames is that you can join them back together, as long as the `pandas` library has an easy way of matching the two DataFrames (or more!) together. A joined index, such as we have for `df_subjects` and `df_subjects_metadata` is a great way to do so.

In order to get one large `df_subjects` DataFrame that contains all the data for each subject, we can thus run the `.join` method:

In [460]:
df_subjects = df_subjects.join(df_subjects_metadata)

Once again, we see that `pandas` succeeds silently, so let's do a reality check:

In [461]:
df_subjects.head(3)

,project_id,workflow_id,subject_set_id,classifications_count,retired_at,retirement_reason,created_at,updated_at,locations_list,,!myid,!image,!origin,attribution,newspaper date,newspaper place,newspaper title
subject_id,,,,,,,,,,,,,,,,,
36627626,9943,12038,77830,0,NaN,NaN,2019-09-11 13:09:40 UTC,2019-09-11 13:09:40 UTC,https://panoptes-uploads.zooniverse.org/subjec...,0,00000000000000000000,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-03-19,"Hull, Humberside, England",The Hull Packet.
36627627,9943,12038,77830,0,NaN,NaN,2019-09-11 13:09:40 UTC,2019-09-11 13:09:40 UTC,https://panoptes-uploads.zooniverse.org/subjec...,1,00000000000000000001,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-03-19,"Hull, Humberside, England",The Hull Packet.
36627628,9943,12038,77830,0,NaN,NaN,2019-09-11 13:09:40 UTC,2019-09-11 13:09:40 UTC,https://panoptes-uploads.zooniverse.org/subjec...,2,00000000000000000002,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-03-19,"Hull, Humberside, England",The Hull Packet.

That is one large (but handy) DataFrame!

## Joining all the data back together

In this final step, we want to join the data back together into a new main DataFrame, `df_final`, from which we will remove all the personal data so the dataset can be shared publicly, if we want.

To recap, here are the four DataFrames that we have created thus far:

#### Main DataFrame (`df`)

In [462]:
df.head(1)

,user_name,user_id,user_ip,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,metadata,annotations,subject_data,subject_ids
classification_id,,,,,,,,,,,,,
123456789,BLDigital,1744856,59da0b506645913c2a7c,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,"{'source': 'api', 'session': '5ae397cb5b23d52e...",{'T1': ['Draw around the names of any people i...,"{""36628096"":{""retired"":null,"""":""246"",""!myid"":""...",36813687

#### Subjects DataFrame (`df_subjects`)

In [463]:
df_subjects.head(1)

,project_id,workflow_id,subject_set_id,classifications_count,retired_at,retirement_reason,created_at,updated_at,locations_list,,!myid,!image,!origin,attribution,newspaper date,newspaper place,newspaper title
subject_id,,,,,,,,,,,,,,,,,
36627626,9943,12038,77830,0,NaN,NaN,2019-09-11 13:09:40 UTC,2019-09-11 13:09:40 UTC,https://panoptes-uploads.zooniverse.org/subjec...,0,00000000000000000000,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-03-19,"Hull, Humberside, England",The Hull Packet.

#### Metadata DataFrame (`df_metadata`)

In [464]:
df_metadata.head(1)

,source,session,started_at,user_agent,utc_offset,finished_at,live_project,user_language,user_group_ids,subject_dimensions,workflow_translation_id,viewport.width,viewport.height,interventions.opt_in,interventions.messageShown,subject_selection_state.retired,subject_selection_state.selected_at,subject_selection_state.already_seen,subject_selection_state.selection_state,subject_selection_state.finished_workflow,subject_selection_state.user_has_finished_workflow
classification_id,,,,,,,,,,,,,,,,,,,,,
123456789,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False

#### Annotations DataFrame (`df_annotations`)

In [465]:
df_annotations.head(1)

,T1,T0
123456789,[Draw around the names of any people involved ...,[Does this article mention a specific industri...

### Drop existing data

As you can see from the summary above, of the main DataFrame (`df`), it now doubles the information in `df_subjects`, `df_metadata`, and `df_annotations`. So before we do anything else, we will drop the columns that we have now processed from `df` to reduce the size of `df`:

In [466]:
df = df.drop(["subject_data", "metadata", "annotations"], axis="columns")

### Redact personal information

Next, we want to ensure that we have anonymised the user data.

Here, we have created our own function, `redact_username`, which uses a cryptographic hash method from Python's built-in `hashlib` library called `sha256`. You can read more about [the algorithm's history on Wikipedia](https://en.wikipedia.org/wiki/SHA-2) if you are interested.

In [467]:
def redact_username(row):
    return hashlib.sha256(str(row).encode()).hexdigest() if not pd.isna(row) else None
    
df["user_name_redacted"] = df["user_name"].apply(redact_username)

We might also be interested in knowing whether a user was logged in or not when they annotated the subject. In order to preserve that information, we create another custom function, `user_was_logged_in`, which uses the information from the `user_name` column (which has a value like `not-logged-in-98ff168ef257e2fd9d4a` if the user was not logged in) to extract a `True` or `False` value (also called a "boolean"):

In [468]:
def user_was_logged_in(row):
    return "not-logged-in" not in row if not pd.isna(row) else False

df["user_logged_in"] = df["user_name"].apply(user_was_logged_in)

Finally, we want to drop columns that contain personal identifying information - usernames, IDs and IP addresses - from the main DataFrame:

In [469]:
df = df.drop(["user_id", "user_name", "user_ip"], axis="columns")

### Join all the data

Now, it's time to join all the DataFrames into one new `df_final` frame.

Adding the metadata and the annotations on the main `df` is an easy thing, since all of them share index:

In [470]:
df_final = df.join(df_metadata).join(df_annotations)

Let's do a quick reality check to make sure that all the data is there:

In [471]:
df_final.head(1)

,workflow_id,workflow_name,workflow_version,created_at,gold_standard,expert,subject_ids,user_name_redacted,user_logged_in,source,session,started_at,user_agent,utc_offset,finished_at,live_project,user_language,user_group_ids,subject_dimensions,workflow_translation_id,viewport.width,viewport.height,interventions.opt_in,interventions.messageShown,subject_selection_state.retired,subject_selection_state.selected_at,subject_selection_state.already_seen,subject_selection_state.selection_state,subject_selection_state.finished_workflow,subject_selection_state.user_has_finished_workflow,T1,T0
classification_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
123456789,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,36813687,7aea4dcb478b26b2d5a00b402c1cf14201964c0fbcf898...,True,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False,[Draw around the names of any people involved ...,[Does this article mention a specific industri...

So far, so good. But now we want to join our subjects on the `df_final` table as well. It's not entirely as easy as the previous multiple join task that we just did here.

This time, because we're not using data points that are uniquely connected, one-to-one (one subject, in fact, will have many classifications), we will end up with duplicated information in the table. In order to join the main DataFrame with the subject DataFrame `df_subjects`, we need to make one intermediary step: We need to make both index columns available in each of the DataFrames.

_Why do we need to make `df_final`'s index a column?_ We will _merge_ two DataFrames, which is a function that will discard both indices of the merging DataFrames.

In [472]:
df_subjects["subject_ids"] = df_subjects.index
df_final["classification_id"] = df_final.index

Before we run the merge, we also want to make sure that the two matching columns on both DataFrames are of the same (correct) type—otherwise Pandas will have trouble finding the matching subject row for each classification.

For that, we use the built-in method on each DataFrame, `.astype()` which "casts" a column as a type:

In [473]:
df_subjects["subject_ids"] = df_subjects["subject_ids"].astype(int)
df_final["subject_ids"] = df_final["subject_ids"].astype(int)

Now we should be able to use the `merge` function from Pandas central library to join the two on the column that is shared between the two DataFrames (in our case `subject_ids`):

In [474]:
df_merged = pd.merge(df_final, df_subjects, on="subject_ids", how="left", suffixes=("_classification", "_subject"))

Finally, we can make the `classification_id` column an index again, on our final DataFrame:

In [475]:
df_merged = df_merged.set_index("classification_id")

One last reality check, before we're ready to export!

This time, however, we set the max column to be displayed to `None` because we're interested in seeing all the columns. Then we use our now familiar `.head()` method:

In [476]:
pd.set_option('display.max_columns', None)
df_merged.head(3)

,workflow_id_classification,workflow_name,workflow_version,created_at_classification,gold_standard,expert,subject_ids,user_name_redacted,user_logged_in,source,session,started_at,user_agent,utc_offset,finished_at,live_project,user_language,user_group_ids,subject_dimensions,workflow_translation_id,viewport.width,viewport.height,interventions.opt_in,interventions.messageShown,subject_selection_state.retired,subject_selection_state.selected_at,subject_selection_state.already_seen,subject_selection_state.selection_state,subject_selection_state.finished_workflow,subject_selection_state.user_has_finished_workflow,T1,T0,project_id,workflow_id_subject,subject_set_id,classifications_count,retired_at,retirement_reason,created_at_subject,updated_at,locations_list,,!myid,!image,!origin,attribution,newspaper date,newspaper place,newspaper title
classification_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
123456789,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,36813687,7aea4dcb478b26b2d5a00b402c1cf14201964c0fbcf898...,True,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False,[Draw around the names of any people involved ...,[Does this article mention a specific industri...,9943,12264,79477,3,2020-03-03 19:38:20 UTC,classification_count,2019-09-16 13:21:33 UTC,2019-09-16 13:21:33 UTC,https://panoptes-uploads.zooniverse.org/subjec...,3,00000000000000000336,./new_batch/batch_20190916_003/images/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-01-22,"Hull, Humberside, England",The Hull Packet.
234567891,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,36628096,7aea4dcb478b26b2d5a00b402c1cf14201964c0fbcf898...,True,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False,[Draw around the names of any people involved ...,[Does this article mention a specific industri...,9943,12038,77830,0,NaN,NaN,2019-09-11 13:09:45 UTC,2019-09-11 13:09:45 UTC,https://panoptes-uploads.zooniverse.org/subjec...,7,00000000000000000007,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-04-16,"Hull, Humberside, England",The Hull Packet.
345678912,12038,Classify and summarise articles (set 1),16.37,2019-09-12 14:14:53 UTC,NaN,NaN,36627634,7aea4dcb478b26b2d5a00b402c1cf14201964c0fbcf898...,True,api,5ae397cb5b23d52e566a93b9db18d40385b9e2a54a5bc2...,2019-09-12T14:14:36.447Z,Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:69...,-3600,2019-09-12T14:14:53.177Z,False,en,[],"[{'clientWidth': 634, 'clientHeight': 72, 'nat...",24214,1366,654,True,False,False,2019-09-12T14:14:36.224Z,False,normal,False,False,[Draw around the names of any people involved ...,[Does this article mention a specific industri...,9943,12038,77830,0,NaN,NaN,2019-09-11 13:09:42 UTC,2019-09-11 13:09:42 UTC,https://panoptes-uploads.zooniverse.org/subjec...,6,00000000000000000006,./new_batch/batch_20190911_001/OUTPUT/crop_000...,BritishNewspaperArchive,Image ¬© THE BRITISH LIBRARY BOARD. ALL RIGHTS...,1841-04-16,"Hull, Humberside, England",The Hull Packet.

## Export!

In this final step, we can export the file to whatever format that we'd like to use.

In the case below, we opt for `.csv`, which is a common, open file format that can be easily opened in Microsoft Excel for further processing. It can also be imported into visualisation software, such as Power BI, or websites like ObservableHQ. On Colab, the file will be stored in a temporary directory. Once you've run the code below, click the 'folder' icon to view it:

In [477]:
df_merged.to_csv("combined_zooniverse_data.csv")